footer .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pie{

    font-size: 30 px;
    text-align: center;
}

.sociales{

    font-size: 20px;
    text-align: center;
    font-size: 29px;
}

.sociales a {

    text-decoration: none;
    color: black;
}